* {
	box-sizing: border-box;
}

body {	
	font-family: 'Raleway', sans-serif;
}

#container {
	width: 1000px;
	padding-top: 40px;
	padding-left: 30px;
	line-height: 15px;
}

main {
  width: 70%;
  padding: 10px;
  float: left;
}

aside {
	width: 30%;
	float:right;
}

h1 a {
	text-align: left; float: left;
	color: #cc192b;
	font-size: 40px;
	text-decoration: none;
	padding-bottom: 5px;
}

header > h2 {
	text-align: right; display: inline;
	color: #b7b7b7;
	font-size: 24px;
	padding-left: 20px;
	line-height: 115%;
}

nav ul{
	padding: 0;
	padding-top: 20px;
}
nav li {
	float: left;
	padding: 1px;
	list-style: none;
}

nav a {
	color: white;
	background-color: black;
	margin: 1px 0px;
	font-size: 18px;
	padding: 15px 25px;
	text-decoration: none;
}

img {
	width: 600px;
}



article {
	padding-top: 20px;
	padding-left: 10px;
	line-height: 15px;
}

article h2 a {
	color: black;
	text-decoration: none;
	font-size: 28px;
}

h3 {
	color: #b8b8b8;
	font-size: 38px;
	text-decoration: none;
}

img{
	padding-bottom: 20px;
}

p {
	text-align: top;
	line-height: 20px;
	color: #b8b8b8;
}

p:first-letter{ 
	font-size:500%;
	line-height: 75%;
	color: #b8b8b8;
	float: left;
	padding-bottom: 7px;
	margin-bottom: 5px;
	padding-right: 5px;
}

h4 a{ 
	color: red;
	float: right;
}

article ul {
	color: #828282;
	float: right;
}

article li {
	line-height: 25px;
}

article a {
	color: red;
	text-decoration: none;
}

footer ul {
	padding-bottom: 20px;
}

footer li {
	float: left;
	color: red;
	list-style: none;
	margin-top: 30px;
	margin-bottom: 20px;
	border-right: solid 1px #999999;
}

footer ul li:last-child {
	border-right: none;
}

footer a {
	color: red;
	text-decoration: none;
	background-color: white;
	margin: 10px 1px;
	font-size: 16px;
	padding: 10px 10px;
	padding-left: 20px;
	padding-right: 20px;
	text-decoration: none;
}

.adplaceholder {
	color: #4b4b4b;
	background-color: #7d7d7d;
	width: 80%;
	height: 200px;
	}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}